<!DOCTYPE html>
<html>
  <head>
    <title>Unit 2 Assessment</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h1>To Do List</h1>
    <% if (todos) { %>
      <ul>
        <% todos.forEach(function(t){  %>
        <li>
          <%= t.todo %> - <%= t.done ? 'Not done' : 'Done' %>
          <form action="/todos/delete/<%= todos._id %>?_method=DELETE"
            class="delete-form" method="POST">
          <button type="submit" id="deletebtn">DELETE</button>
          </form>
        </li>
        <% }) %>
      </ul>
    <% } else { %>
        <h3>There are no To Dos yet!</h3>
    <% } %>
        <hr>
        <form action="/todos" method="POST">
          <input type="text" name="todo" class="todo">
          <button type="submit" id="todobtn">ADD TO DO</button>
        </form>
  </body>
</html>

